#main {
  background-color: #eeeeee;
  text-align: center;
  display: flexbox;
  padding: 20px;
}

#img-div {
  width: 100%;
  margin: auto;
  background-color: white;
}

figcaption {
  padding: 20px;
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

ul {
    width: 40%;
}

ul, #summary {
    text-align: left;
    margin: auto;
    line-height: 1.6;
  }
  li {
    padding: 10px
  }
  
  #summary {
      width: 32%;
  }
